body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.anadir {
 background-color: #22c55e;
 color: white;
}

.remover {
  background-color: #ef4444;
  color: white;
}

li {
  list-style: none;
}

.casilla {
  height: 15px;
}

.hecho {
  background-color: green;

}

.no-hecho {
  background-color: red;
}

